<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Customer -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Customer" asp-action="Index">
            <i class="fas fa-fw fa-user"></i>
            <span>Customer</span>
        </a>
    </li>

    <!-- Nav Item - Items -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Item" asp-action="Index">
            <i class="fas fa-fw fa-box"></i>
            <span>Items</span>
        </a>
    </li>

    <!-- Nav Item - Sales Details -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="SalesDetails" asp-action="Index">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Sales </span>
        </a>
    </li>

    <!-- Nav Item - Purchase Details -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="PurchaseMasterDetail" asp-action="Index">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Purchase </span>
        </a>
    </li>

    <!-- Nav Item -Items Status Details -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="CurrentItemInfo" asp-action="Index">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Sales Details</span>
        </a>
    </li>

    <!-- Nav Item - Sales History -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="ItemsHistory" asp-action="Index">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Items History</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


    <!-- Nav Item - Logout -->
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </li>

    <!-- Logout Form -->
    <form id="logoutForm" class="d-none" asp-controller="LogIn" asp-action="Logout" method="post">
    </form>

</ul>
<!-- End of Sidebar -->