<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div>
                <span class="btn btn-primary mx-3" data-bind="click:$root.clickedSearch">Item Name</span>
                <input type="text" class="form-control d-inline-block w-auto" placeholder="Search Item" data-bind="value: $root.searchTerm, valueUpdate: 'afterkeydown'" />
            </div>
            <div>
                <input type="text" class="form-control d-inline-block w-auto" placeholder="Transaction Type" data-bind="value: $root.transactionType, valueUpdate: 'afterkeydown'" />
                <button class="btn btn-danger mx-3" data-bind="click:$root.clickTrans">Search</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>S.N</th>
            <th>Item Name</th>
            <th>Quantity </th>
            <th>Transaction Date</th>
            <th>Stock CheckOut</th>
            <th>Transaction Type</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:ItemHistoryList">
        <tr>
            <td data-bind="text: $index() + 1"></td>
            <td data-bind="text:itemName"></td>
            <td data-bind="text:quantity"></td>
            <td data-bind="text:transDate"></td>
            <td data-bind="text:stockCheckOut"></td>
            <td data-bind="text:transactionType"></td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/knockout.js"></script>
    <script src="~/js/itemshistory/itemhistorycontroller.js"></script>
    <script src="~/js/itemshistory/itemhistorymodel.js"></script>
    <script>
        {
            var obj = new itemhistorycontroller();
            ko.applyBindings(obj);
        }
    </script>
}
